/*グローバル設定*/
body{
  /*背景画像設定*/
  background-image: url("img/background-photo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  /*フォント設定*/
  font-family: 'NotoSans-Black';
  src: url('font/NotoSans-Black.ttf')format('truetype');
  color: white;
  text-shadow: 1px 1px 3px #444;
  line-height: 2.0;
}

h5{
  font-weight: bolder;
}

.card{
  background-color: transparent;
}

ul{
  list-style: none;
  padding-left: 0;
}

/*コンテンツ*/
.content{
  padding : 30px;
}

/*アイキャッチ画面*/
#eyecatch{
  padding-top: 250px;
  padding-bottom: 500px;
}

.top-text{
  font-size: xx-large;
  color: white;
  font-weight: 800;
  text-shadow: 2px  2px 5px black,
            -2px  2px 5px black,
             2px -2px 5px black,
            -2px -2px 5px black;
}

/*sub-title*/
.sub-title{
  ruby-position: under;
}

/*ナビゲーションバー*/
.navbar{
  height: 5  0px;
}

/*画像*/
.image-profile{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  200px;       /* ※縦横を同値に */
  height: 200px;       /* ※縦横を同値に */
  margin-left: auto;
  margin-right: auto;
}

.service-image{
  border-radius: 10px;  /* 角丸半径を50%にする(=円形にする) */
  width:  160px;       /* ※縦横を同値に */
  height: 160px;       /* ※縦横を同値に */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.works-image{
  border-radius: 10px;  /* 角丸半径を50%にする(=円形にする) */
  width:  200px;       /* ※縦横を同値に */
  height: 200px;       /* ※縦横を同値に */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*image-icon*/
.e-mail-icon{
  border-radius: 20px;  /* 角丸半径を50%にする(=円形にする) */
  width:  80px;       /* ※縦横を同値に */
  height: 80px;       /* ※縦横を同値に */
}

/*コンテンツ背景設定*/

/*背景設定*/
.background{
  padding-top   : 50px;
  padding-bottom: 50px;
}

#concept{
    background-color: rgba(0, 0, 0, 0.8);
}

#service{
  background-color: rgba(0, 0, 0, 0.8);
}

#works{
  background-color: rgba(0, 0, 0, 0.8);
}

#skill{
  background-color: rgba(0, 0, 0, 0.8);
}

#contact{
  background-color: rgba(0, 0, 0, 0.8);
}

