
/*グローバル設定*/
body{
  /* 画像ファイルの指定 */
  background-image: url(img/background-photo.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

  color: white;
  text-shadow: 1px 1px 3px #444;
  line-height: 2.0;

  /*フォント設定*/
  font-family: 'NotoSans-Black';
  src: url('font/NotoSans-Black.ttf')format('truetype');
}

h5{
  font-weight: bolder;
}

.card{
  background: transparent;
}

ul{
  list-style: none;
  padding-left: 0;
}

/*コンテンツ*/
.content{
  padding : 30px;
}

/*アイキャッチ画面*/
#eyecatch{
  padding-top: 200px;
  padding-bottom: 500px;
}

.top-text{
  font-size: xx-large;
  color: white;
  font-weight: 800;
  text-shadow: 2px  2px 5px black,
            -2px  2px 5px black,
             2px -2px 5px black,
            -2px -2px 5px black;
}

/*sub-title*/
.sub-title{
  ruby-position: under;
}

/*ナビゲーションバー*/
.navbar{
  height: 5  0px;
}

/*画像*/
.image-profile{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  200px;       /* ※縦横を同値に */
  height: 200px;       /* ※縦横を同値に */
  margin-left: auto;
  margin-right: auto;
}

.service-image{
  border-radius: 10px;  /* 角丸半径を50%にする(=円形にする) */
  width:  160px;       /* ※縦横を同値に */
  height: 160px;       /* ※縦横を同値に */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.works-image{
  border-radius: 10px;  /* 角丸半径を50%にする(=円形にする) */
  width:  200px;       /* ※縦横を同値に */
  height: 200px;       /* ※縦横を同値に */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*image-icon*/
.e-mail-icon{
  border-radius: 20px;  /* 角丸半径を50%にする(=円形にする) */
  width:  80px;       /* ※縦横を同値に */
  height: 80px;       /* ※縦横を同値に */
}

/*コンテンツ背景設定*/

/*背景設定*/
.background{
  padding-top   : 200px;
  padding-bottom: 200px;
}

#concept{
    background-color: rgba(0, 0, 0, 0.8);
}

#service{
  background-color: rgba(0, 0, 0, 0.8);
}

#works{
  background-color: rgba(0, 0, 0, 0.8);
}

#skill{
  background-color: rgba(0, 0, 0, 0.8);
}

#contact{
  background-color: rgba(0, 0, 0, 0.8);
}